/* Globals */
h1, h2, h3 {
    text-transform: uppercase;
}
.btn {
    -webkit-transition: all ease 0.8s !important;
    -moz-transition: all ease 0.8s !important;
    transition: all ease 0.8s !important;
}
/* Buttons */
.btn-Red {
    background-color: var(--red-color) !important;
    color: var(--white-color) !important;
}
.btn-Yellow {
    background-color: var(--yellow-color) !important;
    color: var(--white-color) !important;
}
.btn-Green {
    background-color: var(--green-color) !important;
    color: var(--white-color) !important;
}
.btn-Blue {
    background-color: var(--blue-color) !important;
    color: var(--white-color) !important;
}
.btn-DarkBlue {
    background-color: var(--dark-blue-color) !important;
    color: var(--white-color) !important;
}
.btn-White {
    background-color: var(--white-color) !important;
    color: var(--black-color) !important;
}
.btn-Grey {
    background-color: var(--grey-color) !important;
    color: var(--black-color) !important;
}
.btn-Black {
    background-color: var(--black-color) !important;
    color: var(--white-color) !important;
}
.btn-Red:hover {
    color: var(--red-color) !important;
    box-shadow: inset 100px 0 0 0 var(--white-color);
}
.btn-Yellow:hover {
    color: var(--yellow-color) !important;
    box-shadow: inset 100px 0 0 0 var(--white-color);
}
.btn-Green:hover {
    color: var(--green-color) !important;
    box-shadow: inset 100px 0 0 0 var(--white-color);
}
.btn-Blue:hover {
    color: var(--blue-color) !important;
    box-shadow: inset 100px 0 0 0 var(--white-color);
}
.btn-DarkBlue:hover {
    color: var(--dark-blue-color) !important;
    box-shadow: inset 100px 0 0 0 var(--white-color);
}
.btn-White:hover {
    color: var(--white-color) !important;
    box-shadow: inset 100px 0 0 0 var(--black-color);
}
.btn-Grey:hover {
    color: var(--grey-color) !important;
    box-shadow: inset 100px 0 0 0 var(--black-color);
}
.btn-Black:hover {
    color: var(--black-color) !important;
    box-shadow: inset 100px 0 0 0 var(--white-color);
}
/* Background */
.bg-Red {
    background-color: var(--red-color);
    color: var(--white-color);
}
.bg-Yellow {
    background-color: var(--yellow-color);
    color: var(--white-color);
}
.bg-Green {
    background-color: var(--green-color);
    color: var(--white-color);
}
.bg-Blue {
    background-color: var(--blue-color);
    color: var(--white-color);
}
.bg-DarkBlue {
    background-color: var(--dark-blue-color);
    color: var(--white-color);
}
.bg-White {
    background-color: var(--white-color);
    color: var(--black-color);
}
.bg-Grey {
    background-color: var(--grey-color);
    color: var(--black-color);
}
.bg-Black {
    background-color: var(--black-color);
    color: var(--white-color);
}
/* TinyMCE files */
.container .ss-htmleditorfield-file.center.embed {
    width: 100% !important;
    display: flex;
    justify-content: center;
}
.container .ss-htmleditorfield-file.leftAlone.embed {
    width: 100% !important;
    display: flex;
    justify-content: flex-start;
}
.container .ss-htmleditorfield-file.rightAlone.embed {
    width: 100% !important;
    display: flex;
    justify-content: flex-end;
}
.container .ss-htmleditorfield-file.center.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.container .ss-htmleditorfield-file.leftAlone.image {
    display: block;
    margin-right: auto;
}
.container .ss-htmleditorfield-file.rightAlone.image {
    display: block;
    margin-left: auto;
}

/* simple slider */
.simple-slider {
    display: flex;
    justify-content: space-evenly;
    gap: 25px;
    flex-wrap: wrap;
}
.simple-slider > div {
    max-width: 100px;
}
.simple-slider > div, .glide li.glide__slide {
    display: flex;
    justify-content: center;
    align-items: center;
}
.simple-slider img, .glide li.glide__slide img {
    width: 100% !important;
    height: auto !important;
    max-height: 100px;
    object-fit: contain;
}

/*Element Full Section With Image */
.model__elementfullsectionwithimage > section {
    position: relative;
}
.model__elementfullsectionwithimage > section > div.container > div {
    width: 45%;
}
.model__elementfullsectionwithimage > section div.img-container {
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
    width: 50%;
}
.model__elementfullsectionwithimage > section div.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.model__elementfullsectionwithimage > section.reverse > div.container > div:first-child {
    margin-left: auto;
}
.model__elementfullsectionwithimage > section.reverse div.img-container {
    left: 0;
    right: unset;
}
@media screen and (max-width: 992px){
    .model__elementfullsectionwithimage > section {
        display: flex;
        flex-direction: column;
    }
    .model__elementfullsectionwithimage > section > div.container > div {
        width: 100%;
    }
    .model__elementfullsectionwithimage > section div.img-container {
        display: none;
    }
}
