/* Globals */
h1, h2, h3 {
    text-transform: uppercase;
}
/* TinyMCE files */
.container .ss-htmleditorfield-file.center.embed {
    width: 100% !important;
    display: flex;
    justify-content: center;
}
.container .ss-htmleditorfield-file.leftAlone.embed {
    width: 100% !important;
    display: flex;
    justify-content: flex-start;
}
.container .ss-htmleditorfield-file.rightAlone.embed {
    width: 100% !important;
    display: flex;
    justify-content: flex-end;
}
.container .ss-htmleditorfield-file.center.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.container .ss-htmleditorfield-file.leftAlone.image {
    display: block;
    margin-right: auto;
}
.container .ss-htmleditorfield-file.rightAlone.image {
    display: block;
    margin-left: auto;
}

/* simple slider */
.simple-slider {
    display: flex;
    justify-content: space-evenly;
    gap: 25px;
    flex-wrap: wrap;
}
.simple-slider > div {
    max-width: 100px;
}
.simple-slider > div, .glide li.glide__slide {
    display: flex;
    justify-content: center;
    align-items: center;
}
.simple-slider img, .glide li.glide__slide img {
    width: 100% !important;
    height: auto !important;
    max-height: 100px;
    object-fit: contain;
}
