:root {
    --red-color: #FC0025;
    --yellow-color: #FFC333;
    --green-color: #5EA947;
    --blue-color: #3D7FBB;
    --dark-blue-color: #1E2131;
    --white-color: #FFFFFF;
    --grey-color: #F0F1F8;
    --black-color: #121111;
}
