$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1000px,
    xxl: 1100px
);
$btn-border-radius: 0;
$btn-border-radius-sm: 0;
$btn-border-radius-lg: 0;
@import "../node_modules/bootstrap/scss/bootstrap";

